<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for the Edit Workout Operation-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="workoutNameTextField">Workout Name</label>
                    <input type="text" class="form-control" id="workoutNameTextField" placeholder="Enter the Workout Name" name="Name" value="<%= Workout.Name %>" required>
                </div>
                <div class="form-group">
                    <label for="workoutTypeTextField">Workout Type</label>
                    <input type="text" class="form-control" id="workoutTypeTextField" placeholder="Enter the Workout Type (e.g., Cardio, Strength)" name="Type" value="<%= Workout.Type %>" required>
                </div>
                <div class="form-group">
                    <label for="workoutDurationTextField">Duration (in minutes)</label>
                    <input type="number" class="form-control" id="workoutDurationTextField" placeholder="Enter Duration" name="Duration" value="<%= Workout.Duration %>" required>
                </div>
                <div class="form-group">
                    <label for="workoutDescriptionTextArea">Workout Description</label>
                    <textarea type="text" class="form-control" id="workoutDescriptionTextArea" placeholder="Enter the Workout Description" name="Description" required><%= Workout.Description %></textarea>
                </div>
                <div class="form-group">
                    <label for="workoutIntensityTextField">Intensity</label>
                    <input type="text" class="form-control" id="workoutIntensityTextField" placeholder="Enter the Workout Intensity (e.g., Low, Medium, High)" name="Intensity" value="<%= Workout.Intensity %>" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                    <i class="fas fa-edit"></i>
                </button>  
                <button class="btn btn-warning" type="button" onclick="window.history.back();">Cancel
                    <i class="fas fa-undo"></i>
                </button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>
